*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #000;
    --color-segundary: #1a849e;
}
@media  (max-width: 768px) {
    
.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background: white;
    overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 400px;
    height: 70px;
    background: var(--color-primary);
    position: relative;
    border-radius: 15px;
}

.navigation ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-top: 25px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    font-size: 2.5em;
    transition: 0.5s;
    color: aliceblue;
    cursor: pointer;
}

.navigation ul li.active a .icon {
    transform: translateY(-25px);
}

.border {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -57%;
    left: 0;
    background: var(--color-segundary);
    border-radius: 50%;
    border: 10px solid white;
    padding: 30px;
    transition: 0.5s;
    margin: 0px 44px;
    overflow: hidden;
}


 
.navigation ul li:nth-child(1).active ~ .border {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .border {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .border {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .border {
    transform: translateX(calc(70px * 3));
}


}
